.id{
	margin:0px;padding:0px;	
	display: inline-block;
	float:left;
	font-size: 12px;
}
.time{
	margin:0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	color:gray;
	float:right;
}
.title{
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
}
.info{
	display: inline-block;
}
.tr-prc{
	color:#ff9800;
}
.addr{
	display: inline-block;
	width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.line{
	display: inline-block;
}