{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
		<link href="{% static 'wolfpay/css/pay.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'wolfpay/js/product.js' %}"></script>
	</head>
<body>
	<div class="container">
<a class="btn btn-info" href="{% url 'history' %}">결제내역보기</a>
<hr>
<form id=pay method="POST">
	{% csrf_token %}
	<h3 class="text-center alert alert-info" id=addr>{{ addr }}</h3>
	<input name="tid" type=hidden value="{{ tid }}">
	<input name="op" id=op type=hidden value="">
	<div id="qrcode" class="text-center"></div>
	<hr>
	<div id=op0><script>show_option("{{ op|escapejs }}","0");</script></div>
	<hr>
	<div class="form-group">
		<label for="name" class="cols-sm-2 control-label">결제자성명</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i></span>
				<input type="text" class="form-control" name="name" id="name" required autofocus/>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="cols-sm-2 control-label">결제자핸드폰</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fas fa-phone" aria-hidden="true"></i></span>
				<input type="text" class="form-control" name="phone" id="phone" required/>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="cols-sm-2 control-label">확정금액(satoshi)</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fab fa-btc" aria-hidden="true"></i></span>
				<input type="text" class="form-control" id="price" name="price" readonly/>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="cols-sm-2 control-label">확정금액(BTC)</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fab fa-btc" aria-hidden="true"></i></span>
				<input type="text" class="form-control" id="btcprice" readonly/>
			</div>
		</div>
	</div>
	<div class="btn btn-success btn-block btn-lg" onclick='pay()'>결제완료</div>
	<div class="alert alert-info text-center" id=time-group>
		<h3><div id=time></div></h3>
		<h6 class="text-danger">※ 유효시간이 만료되면 새로운 주소가 갱신됩니다.</h6>
	</div>
</form></div>
</body>
<script type="text/javascript" src="{% static 'wolfpay/js/jquery.qrcode.min.js' %}"></script>
<script>let currency_url="{% url 'currency' price %}";</script>
<script type="text/javascript" src="{% static 'wolfpay/js/pay.js' %}"></script>
</html>