{% extends "wolfpay/index.html" %}
{% block content %}
{% load staticfiles %}
<link href="{% static 'wolfpay/css/sales.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<div class="alert alert-info" role="alert">
		{% if total is None %}
			총매출합계 : 0.0 BTC
		{% else %}
			총매출합계 : {{ total }} BTC
		{% endif %}
</div>
	<center>
		<div class="btn-group btn-group-lg" role="group" aria-label="first">
			<button type="button" class="btn btn-secondary" onclick='menu(1)'>년별</button>
			<button type="button" class="btn btn-secondary" onclick='menu(2)'>월별</button>
			<button type="button" class="btn btn-secondary" onclick='menu(3)'>일별</button>
		</div><br><br>
		<div id=submenu></div><br>
	</center>
<div id=content>
	<canvas id="myChart" width="400" height="150"></canvas>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'wolfpay/js/sales.js' %}"></script>
<script>
	SetYearUrl("{% url 'get_sales_year' %}");
	SetMonthUrl("{% url 'get_sales_month' %}");
	SetWeekUrl("{% url 'get_sales_week' %}");
	year();
</script>
{% endblock %}

